 body {

    background-color: #e0e0e0;
    font-family: Trebuchet MS,  Helvetica  ;

}
 form{
    margin: auto;
    width: 450px;
    height: 500px;
 }
 input {
    margin-top: 10px;
    height: 40px;
    width: 400px;
    border-radius: 20/20px;
 }
  
  
  